body
{
}

/**/
/*基本形*/
#main_wrapper
{
	width:900px;
	height:650px;
	margin:auto;
	/*background-color:Red;*/
	border-style: solid;
	}
	
/*ログインバー*/
#login_stat
{
	width:auto;
	height:50px;
	/*background-color:Aqua;*/
	border-style: solid;
	}
	
#center
{
	width:auto;
	height:500px;
	border-style: solid;
	}
	
#foot
{
	width:auto;
	height:100px;
	/*background-color:Aquamarine;*/
	border-style: solid;
	}
	
/*日めくり欄*/
#calender
{
	width:400px;
	height:400px;
	margin-left:30px;
	margin-top:50px;
	float:left;
	border-style: solid;
	}
/*ふつうのかれんだー*/
#nomal_cal{
	width:300px;
	height:400px;
	margin-left:10px;
	float:left;
}
/*ひめくり*/
#himekuri_cal{
	width:80px;
	height:400px;
	margin-left:10px;
	float:left;
}
	
/*TODO*/
#todo
{
	width:380px; 
	height:280px;
	margin-left:40px;
	margin-right:30px;
	float:right;
	/*background-color:Lime;*/
	margin-top:50px;
	border-style: solid;
	}
	
/*submit*/
#todo_btn
{
	width:380px; 
	height:60px;
	margin-left:40px;
	margin-right:30px;
	float:right;
	/*background-color:Lime;*/
	margin-top:20px;
	border-style: solid;
	}