body
{
}

/*基本形*/
#main_wrapper
{
	width:900px;
	height:650px;
	margin:auto;
	background-color:Red;
	}
	
/*ログインバー*/
#login
{
	width:auto;
	height:50px;
	background-color:Aqua;
	}
	
#center
{
	width:auto;
	height:500px;
	}
	
#foot
{
	width:auto;
	height:100px;
	background-color:Aquamarine;
	}
	
/*日めくり欄*/
#calender
{
	width:400px;
	height:400px;
	margin-left:30px;
	margin-top:50px;
	background-color:Gray;
	float:left;
	}
	
/*TODO*/
#todo
{
	width:400px; 
	height:300px;
	margin-left:40px;
	margin-right:30px;
	float:right;
	background-color:Lime;
	margin-top:50px;
	}
	
/*submit*/
#todo_btn
{
	width:400px; 
	height:80px;
	margin-left:40px;
	margin-right:30px;
	float:right;
	background-color:Lime;
	margin-top:20px;
	}