@charset "utf-8";
/* CSS Document */

#wrop{
	width:900px;
	height:650px;
	margin-left:auto;
	margin-right:auto;
	background-color:#00FFFF;
}

#schedule_wrop{
	width:500px;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	background-color:#FF99FF;

}

header{
	width:500px;
	height:50px;
	margin-left:auto;
	margin-right:auto;
}	

.form {
	margin-top:5px;
}